name: Generate Pinned Repos JSON

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq gh

      - name: Get Pinned Repositories and Commit Count
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_USER: aghersidev
          QUERY: |
            query($user: String!) {
              user(login: $user) {
                pinnedItems(first: 6, types: REPOSITORY) {
                  nodes {
                    ... on Repository {
                      name
                      url
                      stargazerCount
                      defaultBranchRef {
                        target {
                          ... on Commit {
                            committedDate
                          }
                        }
                      }
                      repositoryTopics(first: 10) {
                        nodes {
                          topic {
                            name
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
        run: |
          GRAPHQL_RESPONSE=$(gh api graphql -f query="$QUERY" -f user="$GH_USER")
          
          echo "$GRAPHQL_RESPONSE" | jq '.data.user.pinnedItems.nodes' > repos_base.json
          FINAL_JSON="[]"
          REPOS=$(jq -c '.[]' repos_base.json)
          
          for REPO_OBJECT in $REPOS; do
            REPO_NAME=$(echo "$REPO_OBJECT" | jq -r '.name')
            LAST_PAGE_COMMIT_COUNT=$(curl -s -I -H "Authorization: token $GITHUB_TOKEN" "https://api.github.com/repos/${GH_USER}/${REPO_NAME}/commits?per_page=1" | grep -i 'link:.*rel="last"' | sed -n 's/.*page=\([0-9]*\).*rel="last".*/\1/p')
            if [ -z "$LAST_PAGE_COMMIT_COUNT" ]; then
                COMMIT_COUNT=0
            else
                COMMIT_COUNT=$LAST_PAGE_COMMIT_COUNT
            fi
            
            UPDATED_REPO=$(echo "$REPO_OBJECT" | jq --arg COMMITS "$COMMIT_COUNT" '
              . + {
                commit_count: ($COMMITS | tonumber)
              }
            ')
            FINAL_JSON=$(echo "$FINAL_JSON" | jq --argjson REPO "$UPDATED_REPO" '. + [$REPO]')
          done
          
          echo "$FINAL_JSON" | jq '[
            .[] | {
              name: .name,
              link: .url,
              stars: .stargazerCount,
              thumbnail_link: ("https://raw.githubusercontent.com/" + $GH_USER + "/" + .name + "/main/thumbnail.jpg"),
              last_commit_date: .defaultBranchRef.target.committedDate,
              commit_count: .commit_count,
              topics: [.repositoryTopics.nodes[] | .topic.name]
            }
          ]' --arg GH_USER "$GH_USER" > pinned_repos.json

      - name: Commit and Push changes
        run: |
          git config --global user.email "andres.ghersi@gmail.com"
          git config --global user.name "Andres Ghersi"
          git add pinned_repos.json
          
          if git status --porcelain | grep pinned_repos.json; then
            echo "pinned_repos.json created or changed. Committing and pushing..."
            git commit -m "Update pinned_repos.json"
            git push
          else
            echo "Pinned_repos.json has no changes. No commit done."
          fi